:root{
    /*color palette*/
    --p-white: #FFFFFF;
    --white: #FAFAFA;
    --black: #000000;
    --d-grey: #252525;
    --m-grey: #979797;
    --l-grey: #CCCCCC;
    --xl-grey: #F2F2F2;
    --orange: #F56A0D;
    --blue: #0481FF;
    --d-blue: #062E52;
    --m-blue: #0074D4;
    --red: #F01346;
    --green: #15B76C;
    --purple: #6446E6;
    --yellow: #FF9E01;
    --toggle-accent: #808080;
    --slider-accent: #151515;
    --scrollbar-accent: #c9c9c980;
    --bg-slider-accent: #808080;
    --ps-slider-accent: #BBBBBB;
    --sub-text-accent: #A3A3A3;
    --select-option: rgba(255, 255, 255, 0.25);
    --select-button: rgba(255, 255, 255, 0.10);

    /*main theme variables*/
    --text: var(--p-white);
    --text-secondary: var(--m-grey);
    --primary: var(--blue);
    --secondary: var();
    --active: var(--m-blue);
    --inactive: var(--d-blue);
    --app-accent: var(--primary);

    /*backgrounds*/
    --background: var(--black);
    --control-background: var(--d-grey);
    --textual-background: var(--d-grey);
    --surface-background: var(--d-grey);
    --alt-surface-background: var(--d-grey);
    --loading-circle: #303030;
    --loading-mask: rgba(0, 0, 0, 0.6);
    --dialog-mask: rgba(0, 0, 0, 0.7);
    --top-glow-effect: linear-gradient(to bottom, rgb(19, 5, 5), rgba(0, 0, 0, 0));
    --bottom-glow-effect: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0, 1));

    /*accents*/
    --error: var(--red);
    --confirmation: var(--green);
    --accent-badge: var(--orange);

    /*on top colors*/
    --on-primary: var(--p-white);
    --on-secondary: var();
    --on-active: var(--p-white);
    --on-background: var(--l-grey);
    --on-alt-background: var(--l-grey);
    --on-surface: var(--p-white);
    --on-error: var(--p-white);
    --on-confirmation: var(--white);
    --on-accent-badge: var(--p-white);
    
    /*borders*/
    --border-surface: var(--d-grey);
    --border-alt-surface: var(--d-grey);
    --border-control: var(--d-grey);
}
