/*Core*/
@import 'components/core/box.css';
@import 'components/core/font.css';
@import 'components/core/container.css';

/*Themes*/
@import "components/themes/light_theme.css" screen;
@import "components/themes/dark_theme.css" screen and (prefers-color-scheme: dark); /*Auto load dark theme*/

/*Design*/
@import 'components/design/bubble.css';
@import 'components/design/button.css';
@import 'components/design/dialog.css';
@import 'components/design/layout.css';
@import 'components/design/popup.css';
@import 'components/design/slider.css';
@import 'components/design/tab.css';
@import 'components/design/toggle.css';

html {
    background-color: var(--background);
    color: var(--text);
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; 
  -webkit-text-size-adjust: 100% !important;
  -moz-text-size-adjust: 100% !important;
  -ms-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
}

body.dialog-open {
  pointer-events: none;
}

body.dialog-open .oui-dialog,
body.dialog-open .oui-dialog-mask {
  pointer-events: auto;
}
